* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

:root {
  --veryDarkMagenta: hsl(300, 43%, 22%);
  --softPink: hsl(333, 80%, 67%);
  --darkGrayishMagenta: hsl(303, 10%, 53%);
  --lightGrayishMagenta: hsl(300, 24%, 96%);
}

.container {
  width: 85%;
  height: 100vh;
  margin: 0 auto;
}

.header-body {
  padding-top: 4em;
}

.header-body__title {
  color: var(--veryDarkMagenta);
  font-size: 2rem;
  text-align: center;
  margin-bottom: 0.75em;
}

.header-body__text {
  color: var(--darkGrayishMagenta);
  text-align: center;
  margin-bottom: 2.5em;
}

.rating-bar {
  background-color: var(--lightGrayishMagenta);
  border-radius: 8px;
  padding: 1em 3em;
  margin-bottom: 1em;
}

.rating-bar__stars {
  width: 50%;
  margin: 0 auto;
}

.rating-bar__text {
  color: var(--veryDarkMagenta);
  font-weight: 700;
  font-size: 0.875rem;
  margin-top: 0.75em;
  text-align: center;
}
